* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    max-width: 1004px;
    margin: 0 auto;
}

.header_bg {
    background: #24282a url("images/bg_header.png") no-repeat center;
    position: relative;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 65px 0 65px;
    top: 40px;
    max-width: 1265px;
    margin: 0 auto;
    color: #ffffff;
}

.logo {
    display: inline-block;
    padding-left: 65px;
    width: 100px;
}

.logo:hover {
    cursor: pointer;
}

.logo_name {
    float: right;
    padding-left: 16px;
    padding-top: 8px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans Semibold", sans-serif;
    font-size: 17px;
    letter-spacing: 0.3px;
}

.menu {
    float: right;
    padding-top: 5px;
}

.menu_item {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.7;
    font-size: 15px;
    letter-spacing: 0.34px;
}

.menu_item:not(:last-child) {
    padding-right: 35px;
}

.header_description {
    max-width: 706px;
    padding-top: 135px;
    padding-bottom: 470px;
    text-align: left;
    color: #ffffff;
}

.header_description_h {
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.3px;
}

.header_description_p {
    max-width: 250px;
    padding-top: 16px;
    padding-bottom: 40px;
    font-size: 12px;
    opacity: 0.52;
    line-height: 18px;
}

.header_btn {
    width: 125px;
    height: 36px;
    padding: 8px 15px;
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    border-radius: 2px;
    background-image: linear-gradient(180deg, #4da3fc 0%, #027eff 100%);
    cursor: pointer;
}

.slider {
    /*transform: translate(0, -50%);*/
    position: absolute;
    top: 60%;
    box-shadow: 0 0 20px rgba(13, 17, 25, 0.35);
}

.work_description {
    padding-top: 200px;
}

.work_description_bg {
    background: #faf9f9 no-repeat center;
    padding-top: 130px;
}

.block_head {
    padding-top: 100px;
    padding-bottom: 60px;
    color: #282e32;
    font-family: "Open Sans Semibold", sans-serif;
    font-size: 28px;
    line-height: 43px;
    letter-spacing: 0.09px;
}

.block_span {
    color: #009cfb;
    letter-spacing: 0.09px;
}

.work_description_elems {
    width: 100%;
    /*padding-top: 47px;*/
    padding-bottom: 100px;
}

.work_description_elems::before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.work_description_item {
    display: inline-block;
    margin: 0 5px;
    width: calc((100% / 3) - 15px);
    vertical-align: top;
    color: #3b4044;
    font-size: 15px;
    line-height: 25px;
}

.work_description_img {
    display: block;
    width: 300px;
    /* фиксированные значения, так как из авокода тянутся эти img разных размеров */
    height: 200px;
    margin-bottom: 40px;
    border: 1px solid lightgrey;
}

.download {
    width: 100%;
}

.download_button {
    margin-right: 5px;
    width: calc((100% / 2) - 10px);
    height: 100px;
    background-color: #fefdfd;
    border-radius: 5px;
    outline: none;
    border: 1px solid #979797;
    display: inline-block;
}

.download_button:hover {
    background-color: #f7fafd;
    cursor: pointer;
}

.download_img {
    padding: 25px 30px;
    float: left;
}

.download_description {
    padding-top: 30px;
    text-align: left;
    color: #282e32;
    font-size: 18px;
}

.download_description_p {
    opacity: 0.52;
    color: #282e32;
    text-align: left;
}

.faq_table {
    border-collapse: collapse;
    border: none;
    color: #3b4044;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.2px;
}

.faq_table_question,
.faq_table_answer:not(last-child) {
    border-bottom: #3b4044;
}

.faq_table_question,
.faq_table_answer {
    border-bottom: #3b4044;
    vertical-align: top;
    padding-bottom: 90px;
}

.faq_table_question {
    width: 40%;
}

.faq_table_answer {
    width: 60%;
}

.details summary::-webkit-details-marker {
    color: #0097fc;
    outline: 0;
}

.details {
    padding-top: 30px;
}

.details_span {
    color: #0097fc;

}

.support_table {
    border-collapse: collapse;
    width: 100%;
}

.th, .td {
    text-align: center;
    border: 1px solid lightgray;
    vertical-align: middle;
    padding: 10px;
}

.card_name {
    text-align: left;
    width: 65%;
}

.mac, .win {
    width: 17.5%;
}

.footer_bg {
    background-color: #282e32;
}

.footer {
    padding-top: 86px;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 45px;
}

.copyright {
    float: left;
}

.copyright_h {
    color: #ffffff;
    font-size: 15px;
    opacity: 0.5;
    letter-spacing: 0.34px;
}

.copyright_p {
    padding-top: 8px;
    font-size: 13px;
    opacity: 0.3;
}

.footer_a {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.5;
    font-size: 13px;
}

.footer_a:not(last-child) {
    padding-right: 28px;
}

.footer_icons {
    float: right;
}

.footer_nav {
    clear: both;
}

.footer_img {
    vertical-align: middle;
}