* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    max-width: 1004px;
    margin: 0 auto;
}

.header_bg {
    background: #24282a url("images/bg_header.png") no-repeat center;
    position: relative;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 65px;
    padding-top: 40px;
    top: 40px;
    color: #ffffff;
    font-size: 0;
}

.logo {
    display: inline-block;
    width: 100px;
}

.logo:hover {
    cursor: pointer;
    opacity: 0.4;
    transition: top 1s ease-out 0.5s;
}

.logo_name {
    float: right;
    padding-left: 16px;
    padding-top: 8px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans Semibold", sans-serif;
    font-size: 17px;
    letter-spacing: 0.3px;
}

.menu {
    float: right;
    padding-top: 5px;
}

.menu_item {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.7;
    font-size: 15px;
    letter-spacing: 0.34px;
}

.menu_item {
    margin-left: 35px;
}

.menu_item:hover {
    opacity: 0.3;
    transition: top 1s ease-out 0.5s;
}

.header_description {
    padding: 135px 20px 470px 20px;
    text-align: left;
    color: #ffffff;
}

.header_description_h {
    max-width: 706px;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.3px;
}

.header_description_p {
    max-width: 250px;
    padding-top: 16px;
    padding-bottom: 40px;
    font-size: 12px;
    opacity: 0.52;
    line-height: 18px;
}

.header_btn {
    width: 125px;
    height: 36px;
    padding: 8px 15px;
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    border-radius: 2px;
    background-image: linear-gradient(180deg, #4da3fc 0%, #027eff 100%);
    cursor: pointer;
}

.header_btn:hover {
    opacity: 0.7;
    transition: top 1s ease-out 0.5s;
}

.slider {
    position: absolute;
    top: 60%;
    max-width: 1004px;
}

.slider .slider_img {
    width: 100%;
    height: auto;
}

.slider_img {
    box-shadow: 0 0 20px rgba(13, 17, 25, 0.35);
}

.slider_nav {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.container {
    display: inline-block;
    padding-left: 5px;
    cursor: pointer;
}

.container input {
    opacity: 0;
    cursor: pointer;
}

.check_mark {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input~.check_mark {
    background-color: #ccc;
}

.container input:checked~.check_mark {
    background-color: #4da3fc;
}

.work_description {
    padding-top: 20%;
}

.work_description_bg {
    background: #faf9f9 no-repeat center;
    padding-top: 130px;
    font-size: 0;
}

.block_head {
    padding-top: 100px;
    padding-bottom: 60px;
    color: #282e32;
    font-family: "Open Sans Semibold", sans-serif;
    font-size: 28px;
    line-height: 43px;
    letter-spacing: 0.09px;
}

.block_span {
    color: #009cfb;
    letter-spacing: 0.09px;
}

.work_description_elems {
    width: 100%;
    padding-bottom: 100px;
}

.work_description_elems::before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.work_description_item {
    display: inline-block;
    width: calc(33.3% - 8px);
    vertical-align: top;
    color: #3b4044;
    font-size: 15px;
    line-height: 25px;
}

.work_description_item:not(:last-child) {
    margin-right: 12px;
}

.work_description_img {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    border: 1px solid lightgrey;
}

.download {
    width: 100%;
    font-size: 0;
}

.download_button {
    margin-right: 20px;
    width: calc((100% / 2) - 20px);
    height: 100px;
    background-color: #fefdfd;
    border-radius: 5px;
    outline: none;
    border: 1px solid #eaeaea;
    display: inline-block;
}

.download_button:hover {
    background-color: #f7fafd;
    cursor: pointer;
    opacity: 0.7;
    transition: top 1s ease-out 0.5s;
}

.download_img {
    padding: 25px 30px;
    float: left;
}

.download_description {
    padding-top: 30px;
    text-align: left;
    color: #282e32;
    font-size: 18px;
}

.download_description_p {
    opacity: 0.52;
    color: #282e32;
    text-align: left;
}

.faq_table {
    border-collapse: collapse;
    border: none;
    color: #3b4044;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.2px;
}

.faq_table_question, .faq_table_answer {
    border-bottom: 1px solid #eaeaea;
    padding: 40px 0;
    vertical-align: top;
}

.no_border {
    border-bottom: none;
    padding-bottom: 200px;
}

.faq_table_question {
    width: 40%;
}

.faq_table_answer {
    width: 60%;
}

.details summary::-webkit-details-marker {
    color: #0097fc;
    outline: 0;
}

.details {
    padding-top: 30px;
}

.details_span {
    color: #0097fc;
}

.support_table {
    border-collapse: collapse;
    width: 100%;
}

.th, .td {
    border: 1px solid lightgray;
    padding: 10px;
    vertical-align: text-top;
}

.card_name {
    text-align: left;
    width: 65%;
}

.mac, .win {
    text-align: center;
    width: 17.5%;
}

.footer_bg {
    background-color: #282e32;
}

.footer {
    padding-top: 86px;
    display: inline-block;
    width: 100%;
    padding-bottom: 45px;
}

.copyright {
    float: left;
}

.copyright_h {
    color: #ffffff;
    font-size: 15px;
    opacity: 0.5;
    letter-spacing: 0.34px;
}

.copyright_p {
    padding-top: 8px;
    font-size: 13px;
    opacity: 0.3;
}

.footer_nav {
    font-size: 0;
}

.footer_a {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.5;
    font-size: 13px;
}

.footer_a:not(last-child) {
    padding-right: 28px;
}

.footer_a:hover {
    opacity: 0.3;
    transition: top 1s ease-out 0.5s;
}

.footer_icons {
    float: right;
}

.footer_img:hover {
    opacity: 0.3;
    transition: top 1s ease-out 0.5s;
}

.lock {
    padding-right: 20px;
}

.footer_nav {
    clear: both;
    padding-top: 100px;
}

@media screen and (max-width: 1024px) {
    .wrapper {
        margin: 0 auto;
        padding: 0 30px;
    }
    .header {
        margin: 0 25px;
        display: block;
    }
    .logo {
        padding: 0;
    }
    .menu_item {
        font-size: 12px;
        height: 17px;
        opacity: 0.7;
    }
    .header_description {
        padding: 65px 0 100px 0;
    }
    .header_description_h {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.31px;
    }
    .header_description_p {
        padding-bottom: 60px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.42px;
    }
    .header_btn {
        font-size: 13px;
        letter-spacing: 0.45px;
    }
    .slider {
        display: none;
    }
    .work_description_bg, .work_description, .work_description_elems {
        padding: 0;
    }
    .block_head {
        padding-top: 50px;
        padding-bottom: 10px;
        font-size: 18px;
        font-weight: 600;
        line-height: 43px;
        letter-spacing: 0.06px;
    }
    .work_description_item {
        display: inline-block;
        padding-bottom: 35px;
    }
    .work_description_img {
        margin-bottom: 15px;
    }
    .faq_table_question, .faq_table_answer {
        display: block;
        width: 100%;
    }
    .faq_table_question {
        font-size: 18px;
        line-height: 25px;
        padding-top: 33px;
        padding-bottom: 10px;
        border: none;
    }
    .faq_table_answer {
        color: #3b4044;
        padding-bottom: 40px;
        opacity: 0.7;
        font-size: 15px;
        line-height: 25px;
    }
    .support_table {
        font-size: 12px;
        color: #3b4044;
        letter-spacing: -0.20px;
    }
    .mac {
        border-left: none;
    }
    .card_name {
        border-right: none;
    }
    .table_img {
        height: 15px;
        width: 13px;
    }
    .td, .th {
        padding: 5px;
        line-height: 18px;
    }
    .no_border {
        border-bottom: none;
        padding-bottom: 75px;
    }
    .footer {
        position: relative;
        padding-top: 50px;
    }
    .footer_nav {
        float: left;
        padding-top: 50px;
    }
    .footer_a {
        display: block;
        padding-bottom: 10px;
        letter-spacing: 0.29px;
    }
    .footer_icons {
        position: absolute;
        float: right;
        top: 165px;
        right: 0;
    }
}

@media screen and (max-width: 736px) {
    .wrapper {
        margin: 0 auto;
        padding: 0 25px;
    }
    .header_description_h {
        max-width: 480px;
    }
    .work_description_item {
        display: block;
        padding-bottom: 35px;
        width: 100%;
        height: 100%;
    }
    .work_description_img {
        margin-bottom: 15px;
    }
    .download_button {
        display: block;
        margin-top: 10px;
        width: 100%;
    }
    .download_img {
        width: 36px;
        height: 36px;
        padding: 21px 12px 12px 18px;
    }
    .download_description {
        padding-top: 22px;
        font-size: 13px;
    }
    .download_description_p {
        padding-bottom: 22px;
        font-size: 12px;
    }
}